---
import "../assets/base.css"


// base Components
import Divider from "../components/base/Divider.astro"

// container
import ContentContainer from "../components/base/ContentContainer.astro"

import Nav from "../components/NavBar.astro"
import PathBar from "../components/PathBar.astro"

import IsFolder from "../components/IsFolder.astro"
import IsFile from "../components/IsFile.astro"

---

<!--IconValuesStart-->

<!--

{
    "music":"musical-notes",
    "video":"logo-youtube",
    "img":"image",
    "office":"newspaper",
    "txt":"clipboard",
    "zip":"file-tray-full",
    "iso":"disc",
    "apk":"logo-android",
    "exe":"logo-windows",
    "default":"document"
}

-->

<!--IconValuesEnd-->


<html lang="<!--constStr@language-->">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="keywords" content="<!--Keywords-->" />
        <meta name="description" content="<!--Description-->" />
        <link rel="icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <script src="../assets/NavAutoHider.js"></script>
        <title><!--Title--></title>


        <!--MdRequireStart-->
            <link rel="stylesheet" href="/aom-assets/depends/marked/github-markdown.css">
            <script type="text/javascript" src="/aom-assets/depends/marked/marked.js"></script>
        <!--MdRequireEnd-->

        <!--customCss-->
	</head>
	<body>
		<Nav SiteName="<!--Sitename-->" IconURL="<!--base_path-->favicon.ico" />
		<main>

		    <!--HeadomfStart-->
		        <ContentContainer>
                    <div class="customfile" id="head-om">
                        <!--HeadomfContent-->
                    </div>
		        </ContentContainer>
            <!--HeadomfEnd-->
            <!--HeadmdStart-->
                <ContentContainer>
                    <div class="markdown-body" id="head">
                        <textarea id="head-md" style="display:none;"><!--HeadmdContent--></textarea>
                    </div>

                    <script>
                        var $head = document.getElementById("head");
                        if ($head) {
                            $head.innerHTML = marked(document.getElementById('head-md').innerText);
                        }
                    </script>
                </ContentContainer>
            <!--HeadmdEnd-->



		    <ContentContainer>
                <div>

                    <PathBar />

                    <Divider />
                    <h3><!--constStr@File--></h3>
    

                    <!--IsFolderStart-->
                    <IsFolder />
                    <!--IsFolderEnd-->


                    <!--IsFileStart-->
                        <IsFile />
                    <!--IsFileEnd-->



                </div>

		    </ContentContainer>
            


            <!--ReadmemdStart-->
		        <ContentContainer>
                    <div class="markdown-body" id="readme">
                        <textarea id="readme-md" style="display:none;"><!--ReadmemdContent--></textarea>
                    </div>

                    <script>
                        var $readme = document.getElementById('readme');
                        if ($readme) {
                            $readme.innerHTML = marked(document.getElementById('readme-md').innerText);
                        }
                    </script>
		        </ContentContainer>
            <!--ReadmemdEnd-->
            <!--FootomfStart-->
		        <ContentContainer>
                    <div class="customfile" id="foot-om">
                        <!--FootomfContent-->
                    </div>
		        </ContentContainer>
            <!--FootomfEnd-->

		</main>
	</body>
	<!--customScript-->
</html>
