---
import Nav from "../components/NavBar.vue"
import Introduction from "../components/Introduction.vue"
import "../assets/base.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="keywords" content="<!--Keywords-->" />
        <meta name="description" content="<!--Description-->" />
        <link rel="icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />

        <title><!--Title--></title>
		<script>
			addEventListener("DOMContentLoaded", function () {
				document.body.classList.add("loaded");
			});
		</script>
	</head>
	<body>
		<Nav />
		<main>
            
            

		</main>
	</body>
</html>