---
import "../assets/base.css"

import Nav from "../components/NavBar.astro"
import ContentContainer from "../components/ContentContainer.vue"


// icons
import Home from "../components/fa-icons/home.vue"
import Slash from "../components/fa-icons/chevron-right.astro"

import ButtonContainer from "../components/ButtonContainer.astro"
import IconContainer from "../components/IconContainer.astro"

---

<!--IconValuesStart-->

<!--

{
    "music":"musical-notes",
    "video":"logo-youtube",
    "img":"image",
    "office":"newspaper",
    "txt":"clipboard",
    "zip":"file-tray-full",
    "iso":"disc",
    "apk":"logo-android",
    "exe":"logo-windows",
    "default":"document"
}

-->

<!--IconValuesEnd-->


<html lang="<!--constStr@language-->">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="keywords" content="<!--Keywords-->" />
        <meta name="description" content="<!--Description-->" />
        <link rel="icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <title><!--Title--></title>


        <!--MdRequireStart-->
            <link rel="stylesheet" href="/depends/marked/github-markdown.css">
            <script type="text/javascript" src="/depends/marked/marked.js"></script>
        <!--MdRequireEnd-->

        <!--customCss-->
	</head>
	<body>
		<Nav SiteName="<!--Sitename-->" />
		<main>

		    <!--HeadomfStart-->
		        <ContentContainer>
                    <div class="customfile" id="hNad-om">
                        <!--HeadomfContent-->
                    </div>
		        </ContentContainer>
            <!--HeadomfEnd-->
            <!--HeadmdStart-->
                <ContentContainer>
                    <div class="markdown-body" id="head">
                        <textarea id="head-md" style="display:none;"><!--HeadmdContent--></textarea>
                    </div>
                </ContentContainer>
            <!--HeadmdEnd-->



		    <ContentContainer>

                <ButtonContainer>
                    <Home color="#f8f8ff" />
                </ButtonContainer>
                <IconContainer>
                    <Slash color="#f8f8ff" />
                </IconContainer>


		        <h1>File list should appear in here</h1>
		        <h2>A example headline-2 for ContentContainer</h2>
		        <p>A example paragraph for ContentContainer</p>
		        <p>A example paragraph for ContentContainer</p>

                <h3 class="table-header"><a href="<!--base_path-->"><!--constStr@Home--></a><!--DiskPathArrayStart--> / <a href="<!--PathArrayLink-->"><!--PathArrayName--></a><!--DiskPathArrayEnd--></h3>
		    </ContentContainer>
            


            <!--ReadmemdStart-->
		        <ContentContainer>
                    <div class="markdown-body" id="readme">
                        <textarea id="readme-md" style="display:none;"><!--ReadmemdContent--></textarea>
                    </div>
		        </ContentContainer>
            <!--ReadmemdEnd-->
            <!--FootomfStart-->
		        <ContentContainer>
                    <div class="customfile" id="foot-om">
                        <!--FootomfContent-->
                    </div>
		        </ContentContainer>
            <!--FootomfEnd-->

		</main>
	</body>
	<!--customScript-->
</html>