---
import "../assets/base.css"

import Nav from "../components/NavBar.astro"
import PathBar from "../components/PathBar.astro"


// base Components
import Divider from "../components/Divider.astro"

// container
import ContentContainer from "../components/ContentContainer.astro"
---

<!--IconValuesStart-->

<!--

{
    "music":"musical-notes",
    "video":"logo-youtube",
    "img":"image",
    "office":"newspaper",
    "txt":"clipboard",
    "zip":"file-tray-full",
    "iso":"disc",
    "apk":"logo-android",
    "exe":"logo-windows",
    "default":"document"
}

-->

<!--IconValuesEnd-->


<html lang="<!--constStr@language-->">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="keywords" content="<!--Keywords-->" />
        <meta name="description" content="<!--Description-->" />
        <link rel="icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="<!--base_path-->favicon.ico" type="image/x-icon" />
        <title><!--Title--></title>


        <!--MdRequireStart-->
            <link rel="stylesheet" href="/depends/marked/github-markdown.css">
            <script type="text/javascript" src="/depends/marked/marked.js"></script>
        <!--MdRequireEnd-->

        <!--customCss-->
	</head>
	<body>
		<Nav SiteName="<!--Sitename-->" />
		<main>

		    <!--HeadomfStart-->
		        <ContentContainer>
                    <div class="customfile" id="head-om">
                        <!--HeadomfContent-->
                    </div>
		        </ContentContainer>
            <!--HeadomfEnd-->
            <!--HeadmdStart-->
                <ContentContainer>
                    <div class="markdown-body" id="head">
                        <textarea id="head-md" style="display:none;"><!--HeadmdContent--></textarea>
                    </div>
                </ContentContainer>
            <!--HeadmdEnd-->



		    <ContentContainer>

                <PathBar />

                <Divider />
                <h3><!--constStr@File--></h3>

                <ContentContainer>
                    <div style="display: flex; justify-content: space-between;">
    
                    </div>
                </ContentContainer>
                <!--FolderId-->

                
<!--IsFolderStart-->
<table class="list-table" id="list-table">
    <tr id="tr0">
        <th class="file">
            <a id="file_a0" fileid="<!--FolderId-->" onclick="sortby('a');"><!--constStr@File--></a>
<!--ShowThumbnailsStart-->
            &nbsp;&nbsp;&nbsp;
            <label><input type="checkbox" id="originalpic"><!--constStr@OriginalPic--></label>
            <button onclick="showthumbnails(this);"><!--constStr@ShowThumbnails--></button>
<!--ShowThumbnailsEnd-->
            &nbsp;
            <button onclick="CopyAllDownloadUrl('.download');"><!--constStr@CopyAllDownloadUrl--></button>
        </th>
        <th class="updated_at"><a onclick="sortby('time');"><!--constStr@EditTime--></a></th>
        <th class="size"><a onclick="sortby('size');"><!--constStr@Size--></a></th>
    </tr>
    <!-- Dirs -->
<!--FolderListStart-->
    <tr data-to id="tr<!--filenum-->">
        <td class="file">
            <ion-icon name="folder"></ion-icon>
            <a id="file_a<!--filenum-->" name="folderlist" href="<!--FileEncodeReplaceUrl-->/" fileid="<!--FileId-->"><!--FileEncodeReplaceName--></a>
        </td>
        <td class="updated_at" id="folder_time<!--filenum-->"><!--lastModifiedDateTime--></td>
        <td class="size" id="folder_size<!--filenum-->"><!--size--></td>
    </tr>
<!--FolderListEnd-->
<!--FileListStart-->
    <tr data-to id="tr<!--filenum-->">
        <td class="file">

            <ion-icon name="<!--IconValue-->"></ion-icon>
            <a id="file_a<!--filenum-->" name="filelist" href="<!--FileEncodeReplaceUrl-->?preview" fileid="<!--FileId-->" target=_blank><!--FileEncodeReplaceName--></a>
            <a class="download" href="<!--FileEncodeReplaceUrl-->"><ion-icon name="download"></ion-icon></a>
        </td>
        <td class="updated_at" id="file_time<!--filenum-->"><!--lastModifiedDateTime--></td>
        <td class="size" id="file_size<!--filenum-->"><!--size--></td>
    </tr>
<!--FileListEnd-->
</table>
<!--MorePageStart-->
<form action="" method="POST" id="nextpageform">
    <input type="hidden" id="pagenum" name="pagenum" value="">
    <table width=100% border=0>
        <tr>
            <td width=60px align=center>
<!--PrePageStart-->
                <a onclick="nextpage(<!--PrePageNum-->);"><!--constStr@PrePage--></a>
<!--PrePageEnd-->
            </td>
            <td class="updated_at">
<!--MorePageListStart-->
                <a onclick="nextpage(<!--PageNum-->);"><!--PageNum--></a>
<!--MorePageListEnd-->
<!--MorePageListNowStart-->
                <font color=red><!--PageNum--></font>
<!--MorePageListNowEnd-->
            </td>
            <td width=60px align=center>
<!--NextPageStart-->
                <a onclick="nextpage(<!--NextPageNum-->);"><!--constStr@NextPage--></a>
<!--NextPageEnd-->
            </td>
        </tr>
    </table>
</form>
<!--MorePageEnd-->
<!--IsFolderEnd-->



                



                


		    </ContentContainer>
            


            <!--ReadmemdStart-->
		        <ContentContainer>
                    <div class="markdown-body" id="readme">
                        <textarea id="readme-md" style="display:none;"><!--ReadmemdContent--></textarea>
                    </div>
		        </ContentContainer>
            <!--ReadmemdEnd-->
            <!--FootomfStart-->
		        <ContentContainer>
                    <div class="customfile" id="foot-om">
                        <!--FootomfContent-->
                    </div>
		        </ContentContainer>
            <!--FootomfEnd-->

		</main>
	</body>
	<!--customScript-->
</html>