---
import "../assets/base.scss"
import Nav from "@components/NavBar.astro"
import Introduction from "@components/Introduction.astro"
import Copyright from "@components/Copyright.astro"

import ToastNofication from "@components/ToastNofication.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A brand new OneManager theme: Charo." />
		<meta name="description" content="A Theme for Onemanager, written in Astro." />
		<title>Charo: brand new OneManager theme</title>
	</head>
	<body>
		<Nav SiteName="Charo" IconURL="/aom-assets/images/fufu512.png" />

		<ToastNofication />

		<main>
			<Introduction />
		</main>
		<Copyright SiteName="Charo" />
	</body>
</html>
