---
import "../assets/base.css"
import Nav from "@components/NavBar.astro"
import Introduction from "@components/Introduction.astro"
import Copyright from "@components/Copyright.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A brand new OneManager theme: Charo." />
		<meta name="description" content="A Theme for Onemanager, written in Astro." />
		<meta name="generator" content={Astro.generator} />
		<title>Charo: brand new OneManager theme</title>
		<script src="../assets/NavAutoHider.js"></script>
	</head>
	<body>
		<Nav SiteName="Charo Homepage" IconURL="/aom-assets/images/fufu512.png" />
		<main>
			<Introduction />
		</main>
		<Copyright SiteName="Charo Homepage" />
	</body>
</html>
