---
import Nav from "../components/NavBar.astro"
import Introduction from "../components/Introduction.vue"
import "../assets/base.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ArmoLab's Onemanager theme</title>
	</head>
	<body>
		<Nav SiteName="ArmoLab OM"/>
		<main>
			<Introduction />

		</main>
	</body>
</html>