---
	const { href } = Astro.props
---

<a class="UglyButton" href={href}>
    <slot />
</a>


<style>
	.UglyButton {
		display: inline-block;
        cursor: pointer;
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease;
		background-color: rgba(128, 128, 128, .5);
		border-radius: 16px;
        padding: 8px 12px;
		user-select: none;
	}
	.UglyButton:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
        box-shadow: #6a6a6a 2px 2px 20px 0px;
	}
	.UglyButton::after {
		content: none !important;
		display: none !important;
	}
</style>
