---

---
<div class="Divider"></div>

<style>
    div.Divider {
        height: 1px;
        width: 95%;
        margin: 16px auto;
        background-color: #f8f8ff;
        opacity: .5;
    }
</style>