---

---
<span class="UglyIcon">
    <slot />
</span>


<style>
	span.UglyIcon {
		transition: transform .45s ease;
		border-radius: 16px;
        padding: 10px 12px;
		user-select: none;
	}
	span.UglyIcon:hover {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
</style>