---
	const { href } = Astro.props
---

<a class="UglyLink" href={href}>
    <slot />
</a>


<style>
	.UglyLink {
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
        cursor: pointer;
		-webkit-transition: all .45s ease;
		transition: all .45s ease;
		background-color: rgba(128, 128, 128, .5);
		border-radius: 16px;
        padding: 12px 14px;
		user-select: none;

        margin: 15px auto 0 auto;
	}
	.UglyLink:hover {
		-webkit-transform: scale(1.02) translateY(-3px);
		transform: scale(1.02) translateY(-3px);
        box-shadow: #494949 1px 1px 20px 0px;
	}
	.UglyLink::after {
		content: none !important;
		display: none !important;
	}
</style>
