---
    import Moon from "../fa-icons/moon.astro";
    import Sun from "../fa-icons/sun.astro";
---

<span class="ThemeSwitcher">
    <span id="MoonIcon">
        <Moon color="#f8f8ff" />
    </span>
    <span id="SunIcon" style="display: none;">
        <Sun color="#f8f8ff" />
    </span>
</span>

<style>
    span.ThemeSwitcher {
        padding: 10px;
    }
    span.ThemeSwitcher span {

    }
</style>





