---
    import { Icon } from "astro-icon";
---

<span class="ThemeSwitcher">
    <span id="MoonIcon" style="display: inline-block;">
        <Icon name="heroicons:moon" />
    </span>
    <span id="SunIcon" style="display: none;">
        <Icon name="heroicons:sun" />
    </span>
</span>

<style>
    span.ThemeSwitcher {
        padding: 10px;
    }
</style>
