---
	const { SiteName } = Astro.props;
---

<div class="Contents">
    <p style="font-size: larger;" set:html={SiteName}></p>
    <p>Powered by <a href="https://astro.build/">Astro.js</a>, Theme for <a href="https://github.com/qkqpttgf/OneManager-php">Onemanager</a></p>
    <p>Theme Charo by ArmoLab Org, And you.</p>
</div>
