---
---
<div class="IntroductionContainer">
    <div class="IntroductionItem">
        <div class="IntroductionItemLeft">
            <h1>
                A brand new OneManager theme <br />
                <span style="font-size: larger;">Charo v2</span>
            </h1>
            <p>A Theme for Onemanager, written in Astro.</p>
        </div>
        <div class="IntroductionItemRight">
            <img src="/aom-assets/images/fufu512.png" alt="" />
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2>Let's have a <span class="Highlighted">Quick Start</span>.</h2>
    <h3>- Platform Setting =&gt; customTheme value:</h3>
    <code>https://charo.koto.cc/allinone.html</code>
</div>

<script lang="js">
    addEventListener("DOMContentLoaded", function () {
        if ((new Date().getMonth() + 1) === 6 || true) {                       // if it is June now.
            // Pride June Celebration Easter
            let c1 = "#" + Math.floor(Math.random() * 0xffffff).toString(16);  // gen first color
    	    let c2 = "#" + Math.floor(Math.random() * 0xffffff).toString(16);  // gen second color

    	    let Target = `linear-gradient(-45deg, ${c1}, ${c2})`               // gen CSS linear gradient code
    	    console.log("Target: " + Target)
        	document.querySelector("div.IntroductionItemLeft > h1").style.backgroundImage = Target;
        }
    })
</script>



<style>

    .IntroductionContainer {
        margin: auto;
        width: 80%;
        max-width: 1250px;

    }
    .IntroductionItem {
        justify-content: center;
        align-items: center;

        flex: 1 1;
        display: flex;
        margin: 64px auto;
    }
    .IntroductionItemLeft h1 {
        background-image: linear-gradient(-45deg, #FF8F00, #e8e970);
        color: rgba(0,0,0,0);
        -webkit-background-clip: text;
        background-clip: text;
    }
    body[theme="Light"] .IntroductionItemLeft h1 {
        background-image: linear-gradient(-45deg, #588ebe, #9b46c5);
    }
    .IntroductionItemRight img {
        border-radius: 50%;
        width: 100%;
    }
    .IntroductionItemLeft {
        width: 70%;
    }
    .IntroductionItemRight {
        width: 30%;
    }

    @media (max-width: 1024px) {
        .IntroductionItemRight {
            display: none;
        }
        .IntroductionItemLeft {
            width: auto;
            text-align: center;
        }
        .IntroductionContainer {
            display: block;
            height: auto;
        }
        .IntroductionItem {
            display: block;
        }
    }

</style>
