---
	import ThemeSwitcher from "./base/ThemeSwitcher.astro"
	import MultiDisk from "./MultiDisk.astro"
	import "../assets/header.css"
	const { SiteName, IconURL } = Astro.props;
	
	// icons
	import Login from "./fa-icons/login.astro"
    import Menu from "./fa-icons/bars.astro"
	import ListItem from "./fa-icons/list-item.astro";
---

<header>
	<span class="buttons left">
		<a href="javascript:void(0);" onclick="SideBar.Open()">
			<Menu color="#f8f8ff"/>
		</a>
		<!--MultiDiskAreaStart-->
			<a href="javascript:void(0);" onclick="MultiDisk.Expand()" class="MultiDiskExpander">
				<ListItem color="#f8f8ff"/>
			</a>
		<!--MultiDiskAreaEnd-->
	</span>

    <div class="Header">

		<a class="title" href="/">
			<img src={ IconURL } alt="">
			<span set:html={ SiteName }></span>
    	</a>

		<span data-desc="space-between"></span>
		
		<a class="CurrentDriveName NoUnderline" href="javascript:MultiDisk.Expand();">
			<!--MultiDiskAreaStart-->
				<span id="DriveName">(CurrentDriveName)</span>
				<span class="ExpandIcon"><ListItem color="#f8f8ff" /></span>
			<!--MultiDiskAreaEnd-->
		</a>

    </div>

	<span class="buttons right">
		<a href="javascript:ThemeSwitcher.Switch();">
			<ThemeSwitcher />
		</a>
		<a href="/?login=admin">
			<Login color="#f8f8ff"/>
		</a>
	</span>
</header>
<!--MultiDiskAreaStart-->
<MultiDisk />
<!--MultiDiskAreaEnd-->

<script src="../assets/ThemeSwitcher.js"></script>
<script src="../assets/SideBar.js"></script>

