---
	const { SiteName, IconURL } = Astro.props;
	import MultiDisk from "./MultiDisk.astro"
	import "../assets/header.scss"
	import { Icon } from "astro-icon";
---

<header>
		<a class="title" href="/">
			<img src={ IconURL } alt="">
			<span set:html={ SiteName }></span>
    	</a>
		
		<span class="CurrentDriveName" onclick="MultiDisk.Expand();">
			<span id="DriveName">(CurrentDriveName)</span>
			<span class="ExpandIcon" data-ControllerHidden="true"><Icon name="heroicons:chevron-down" /></span>
		</span>
</header>

<!--MultiDiskAreaStart-->
<MultiDisk />
<!--MultiDiskAreaEnd-->



<script>
    function OnScroll () {
        let ScrollTop = window.scrollY;
        if (ScrollTop > 50) {
            document.querySelector("header").classList.add("TopStick")
        } else {
            document.querySelector("header").classList.remove("TopStick")
        }
    }
    try {
        addEventListener("scroll", OnScroll)
        addEventListener("DOMContentLoaded", OnScroll)
        console.info("[Header Sticker] inited 🎉")
    } catch (err) {
        console.error("[Header Sticker] cannot init because " + err);
    }
</script>

