---
// icons
import Home from "./fa-icons/home.astro"
import Slash from "./fa-icons/chevron-right.astro"

// container
import ButtonContainer from "./base/ButtonContainer.astro"
import IconContainer from "./base/IconContainer.astro"
---
<div style="display: flex; align-items: center;">
    <ButtonContainer href="<!--base_path-->">
        <Home color="#f8f8ff" />
    </ButtonContainer>
    
    <!--DiskPathArrayStart-->
    
    <IconContainer>
        <Slash color="#f8f8ff" />
    </IconContainer>
    
    <ButtonContainer href="<!--PathArrayLink-->" is:raw>
        <!--PathArrayName-->
    </ButtonContainer>
    
    <!--DiskPathArrayEnd-->
</div>
