---
import { Icon } from "astro-icon/components";

// container
import ButtonContainer from "./base/ButtonContainer.astro"
import IconContainer from "./base/IconContainer.astro"
---
<div style="display: flex; align-items: center;">
    <ButtonContainer href="<!--base_path-->">
        <Icon name="heroicons:home" />
    </ButtonContainer>
    
    <!--DiskPathArrayStart-->
    
    <IconContainer>
        <Icon name="heroicons:chevron-right" />
    </IconContainer>
    
    <ButtonContainer href="<!--PathArrayLink-->" is:raw>
        <!--PathArrayName-->
    </ButtonContainer>
    
    <!--DiskPathArrayEnd-->
</div>
