@import url("./fonts/Outfit/main.css");
@import url("./fonts/JetBrainsMono/main.css");


html,
body {
    font-family: "Outfit", sans-serif, system-ui;
    margin: 0;
}

body {
    color: #f8f8ff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #1f1f1f;
    /* #28292a */
    transition: all .45s ease;
    [data-icon] {
        fill: #f8f8ff;
        vertical-align: bottom;

        height: 20px;
        width: 20px;

    }
    [data-icon="heroicons:chevron-down"] {
        margin-bottom: -0.03rem;
    }
    
    &[theme="Light"] {
        background-color: #f8f8ff;
        /* #f8fafd */
        color: #1f1f1f;

        [data-icon] {
            fill: #1f1f1f;
        }
    }
}

main {
    padding-top: 128px;
    padding-bottom: 50px;
}

div.ContentsContainer:last-child {
    margin-bottom: 0 !important;
}

button {
    border: none;
}

a:link, a:visited {
    color: #f8f8f8;
    text-decoration: none;
    display: inline-block;
}
a:link::after, a:visited::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background-color: #f8f8ff;
    margin: 0 0 0 auto;

    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
a:link:hover::after, a:visited:hover::after {
    width: 100%;
    margin: 0 auto 0 0;
}
a.NoUnderline::after {
    content: none !important;
    display: none !important;
}

body[theme="Light"] a:link, body[theme="Light"] a:visited {
    color: #1f1f1f;
}
body[theme="Light"] a:link::after, body[theme="Light"] a:visited::after {
    background-color: #1f1f1f;
}

.Highlighted {
    display: inline-block;
    transition: all .4s ease;
}
.Highlighted::after {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    margin-top: -12px;
    background-color: #588ebe;
    opacity: .75;
    position: relative;
    z-index: -1;
}
code, .code, .markdown-body pre {
    display: block; 
    box-sizing: border-box; 
    background-color: #28292a; 
    color: #f8f8ff;
    width: 100%; 
    margin:10px 0; 
    padding: 12px;

    text-align: left; 
    border-radius: 5px; 
    word-break: break-all;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: smaller;

    resize: none;
    border: none;
}


.Contents {
    width: 85%;
    border-radius: 15px;
    padding: 20px 25px;
	margin: 0 auto 25px;
    background-color: rgba(40, 41, 42, .75);
    backdrop-filter: blur(25px);
}
body[theme="Light"] .Contents {
    background-color: rgba(200, 210, 220, 0.75);
}


/* markdown tweak */
body[theme="Night"] .markdown-body {
    color: #f8f8ff;
}
body[theme="Night"] .markdown-body h1,
body[theme="Night"] .markdown-body h2 {
    border-bottom: 1px solid #28292a;
}
body .markdown-body img {
    background-color: transparent;
}
body .markdown-body a::after {
    content: none;
    display: none;
}