html,
body {
    font-family: system-ui;
    margin: 0;
}

/* body {
    background-color: #002021;
} */

main {
    margin: 100px auto;
    color: #ffffff;
}

div.ContentsContainer:last-child {
    margin-bottom: 0!important;
}

/*noinspection CssOverwrittenProperties*/

button {
    border: none;
}

a:link, a:visited {
    color: #f8f8f8;
    text-decoration: none;
    display: inline-block;
}
a:link::after, a:visited::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: #f8f8ff;
    margin: 0 0 0 auto;

    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
a:link:hover::after, a:visited:hover::after {
    width: 100%;
    margin: 0 auto 0 0;
}
