html,
body {
    font-family: system-ui;
    margin: 0;
}

body {
    background-color: #002021;
    /* background-image: linear-gradient(15deg, #13547a, #13547a, #80d0c7);
    background-size: 200% 200%;
    animation: Gradients 5s ease infinite;
    background-attachment: fixed; */
}

main {
    margin: 100px auto;
    color: #ffffff;
}

div.ContentsContainer:last-child {
    margin-bottom: 0!important;
}

/*noinspection CssOverwrittenProperties*/
article {
    width: 90%;
    width: min(1000px,90%);
    margin: 0 auto;
}

button {
    border: none;
}

a:link, a:visited {
    color: #f8f8f8;
    text-decoration: none;
    display: inline-block;
}
a:link::after, a:visited::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: #f8f8ff;
    margin: 0 0 0 auto;

    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
a:link:hover::after, a:visited:hover::after {
    width: 100%;
    margin: 0 auto 0 0;
}

@keyframes Gradients {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}