html,
body {
    font-family: system-ui;
    margin: 0;
}

body {
    background-color: #002021;
    /* background-image: linear-gradient(15deg, #13547a, #13547a, #80d0c7);
    background-size: 200% 200%;
    animation: Gradients 5s ease infinite;
    background-attachment: fixed; */
}

main {
    margin: 100px auto;
    color: #ffffff;
}

div.ContentsContainer:last-child {
    margin-bottom: 0!important;
}

/*noinspection CssOverwrittenProperties*/
article {
    width: 90%;
    width: min(1000px,90%);
    margin: 0 auto;
}


button, .as-button {
    display: inline-block;
    border-style: solid;
    border-color: #f8f8ff;
    border-width: 2px;
    border-radius: 5px;

    padding: 15px 10px;

    color: #f8f8ff;
    font-size: medium;
    font-weight: bold;

    cursor: pointer;
    overflow: hidden;
}
.as-button.bg-transparent, button.bg-transparent {
    background: none;
    transition: color ease 0.45s;
    /* box-shadow: 1px 1px 26px 2px #A8A8A8; */
    box-shadow: 1px 1px 26px 2px #232323;
}
.as-button.bg-transparent span, button.bg-transparent span {
    position: relative;
}
.as-button.bg-transparent::before, button.bg-transparent::before {
    content: "";
    transition: width ease 0.45s;
    background-color: #f8f8ff;
    height: 55px;
    width: 0;
    display: block;
    position: relative;
    margin-bottom: -55px;
    top: -15px;
    left: -10px;
}
.as-button.bg-transparent:hover::before, button.bg-transparent:hover::before {
    width: 128%;
}
.as-button.bg-transparent:hover, button.bg-transparent:hover {
    color: #1f1f1f;
}


a:link:not(.as-button), a:visited:not(.as-button) {
    color: #f8f8f8;
    text-decoration: none;
    display: inline-block;
}
a:link:not(.as-button)::after, a:visited:not(.as-button)::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: #f8f8ff;
    margin: 0 0 0 auto;

    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
a:link:not(.as-button):hover::after, a:visited:not(.as-button):hover::after {
    width: 100%;
    margin: 0 auto 0 0;
}
a.as-button {
    text-decoration: none;
}

@keyframes Gradients {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}