header {
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 128;
    margin: 0 auto;
    margin-top: 2vw;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* size */
    width: 95vw;
    padding: 8px;
    box-sizing: border-box;

    /* apperence */
    transition: all .3s ease;

    border-radius: 16px;

    background-color: rgba(35, 35, 35, .65);
    color: #f8f8ff;

    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;

    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);

    box-shadow:
         1px 0px 10px rgba(0,0,0,.1),
        -1px 0px 10px rgba(0,0,0,.1),
         0px 1px 10px rgba(0,0,0,.1);

    overflow: auto;



    /* -- bottons */
    > a, > span {
        transition: all .25s ease;
        cursor: pointer;
        user-select: none;
        border-radius: 8px;
            
        padding: 10px 14px;
            
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        &::after {
            content: none;
        }
        &:hover {
            background-color: rgba(128,128,128,.5);
        }
        &:active {
            transform: scale(.95);
        }
    }

    .title {
        display: flex;
        align-items: center;

        &::after {
            content: none !important;
        }

        img {
            height: 38px;
            border-radius: 50%;
            margin-right: 10px;
            @media (max-width: 800px) {
                display: none;
            }
        }
    }
    span.ExpandIcon {
        display: inline-block;
        transition: all 0.3s ease;
        transform-origin: center;

        &[data-is-controller-hidden="true"] {
            transform: rotate(0.5turn);
        }
    }


    /* -- ex: apperence */
    &.TopStick {
        border-color: rgba(0,0,0,0);
        border-radius: 0;
        width: 100%;
        margin-top: 0;
    }

    body[theme="Light"] & {
        background-color: rgba(255, 255, 255, .65);
        color: #1f1f1f !important;
        /* box-shadow:
            01px 0px 10px rgba(255,255,255,.2),
            -1px 0px 10px rgba(255,255,255,.2),
            00px 1px 10px rgba(255,255,255,.2); */
    }

}
